<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <mat-form-field class="w-full mb-2">
            <input matInput placeholder="Search..." (keyup)="search($event.target.value)">
        </mat-form-field> 

        <div class="flex flex-wrap">

            <fuse-card class="mt-8 p-8 mr-5 rounded-2xl shadow ng-untouched ng-pristine ng-valid overflow-visible hover:shadow-lg "
                    *ngFor="let funcionario of funcionarios" 
                    routerLink="edit/{{funcionario.id}}">

                    <div class="text-2xl justify-center flex items-center justify-center">

                        <mat-icon svgIcon="heroicons_solid:user"></mat-icon>
                        <div class="whitespace-nowrap ml-3">{{funcionario.nome}}</div>
                        
                    </div>
            </fuse-card>

        </div>

       <!-- Add button -->
       <div class="fixed bottom-0 right-15 mb-10 mr-10 z-99">
          <a mat-fab matTooltip="Add" routerLink="new">
            <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
          </a>
       </div>
       
    </div>
</div>
