<div class="flex flex-col flex-auto min-w-0">

     <!-- Main -->
     <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 rounded-2xl">
            <!-- Card -->
            <fuse-card class="max-h-71 max-w-60 inline-grid mb-2 ml-4" *ngFor="let number of numbers">

                <!-- Imagem -->
                <img src="\assets\images\avatars\pizza-02.jpg" class="w-full h-full object-cover mb-5 mt-2">

                <!-- Conteudo -->
            <div class="flex flex-col flex-auto order-2 md:order-1 mb-2 ml-4">

                <!-- Titulo -->
                <div class="text-2xl font-semibold flex flex-wrap justify-between">Calabresa

                    <!-- Icone -->
                    <button mat-icon-button class="-mt-1 mr-2 mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base">
                        <mat-icon class="notranslate text-red-500 icon-size-5 mat-icon-no-color" role="img" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="heart" data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"></path>
                        </svg></mat-icon>
                    </button>
                </div>
        
                
                <!-- Subtitulo -->
                <div class="flex flex-wrap items-center text-secondary my-1">
                        <mat-icon svgIcon="mat_solid:attach_money"></mat-icon>
                        <div class="whitespace-nowrap">32,00</div>
                </div>
        </div>
           </fuse-card>
        </div>
    </div>
</div>
