<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <fuse-card class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden ng-untouched ng-pristine ng-valid ">

            <form [formGroup]="form">

                <div class="grid columns-1 xl:grid-cols-3 md:grid-cols-2">

                    <mat-form-field *ngFor="let field of formConfig.data | keyvalue" class="mr-5 mb-4" appearance="outline">
                    
                    <mat-label>{{ field.key }}</mat-label>
                    <input matInput [formControlName]="field.key" [placeholder]="field.key" [type]="getFieldType(field.value)">

                    </mat-form-field> 
                
                </div>
              </form>
        </fuse-card>

        <div class="flex flex-row-reverse space-x-4 space-x-reverse bottom-10 right-10 fixed z-99 xl:right-20">

            <div class="">
                <a mat-fab matTooltip="Add" >
                    <mat-icon svgIcon="mat_outline:save"></mat-icon>
                </a>
             </div>
    
             <div class="">
                <a mat-fab matTooltip="back" color="warn">
                    <mat-icon svgIcon="mat_outline:arrow_back"></mat-icon>
                </a>
             </div>

        </div>
    </div>
</div>
