<ng-container *transloco="let t; read: 'forms'">
<div class="flex flex-col flex-auto min-w-0">

    <!-- TODO: Redimensionar os inputs -->
    <!-- TODO: Dialogo chave estrangeira -->
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <fuse-card class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden ng-untouched ng-pristine ng-valid">
            <p class="text-lg font-medium">{{ t('Formulario')}}</p>
            <p class="text-sm text-gray-600 mt-2">{{ t('SubTitulo')}}</p>
            <br>            
            <div class="grid sm:grid-cols-2 xl:grid-cols-4 xl:gap-4 md:gap-1 lg:grid-cols-4 2xl:grid-cols-5 place-items-center">

                    <!-- Codigo -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('Codigo')}}</mat-label>
                    <input matInput placeholder="Codigo" mask="0*" required [(ngModel)]="formulario.codigo">
                    <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
                </mat-form-field>

                <!-- data -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('Data')}}</mat-label>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="formulario.data" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 


                <!-- cpf -->
                <mat-form-field class="w-full " appearance="outline">
                    <mat-label>{{ t('CPF')}}</mat-label>
                    <input matInput placeholder="CPF" required mask="000.000.000-00" [(ngModel)]="formulario.cpf">
                    <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
                </mat-form-field>

                <!-- Estado Civil -->
                <mat-form-field class="w-full" appearance="outline">
                    <mat-select [(ngModel)]="formulario.estadoCivil" searchable="true" placeholder="{{ t('EstadoCivil')}}" required>
                        <mat-option value="Solteiro">Solteiro</mat-option>
                        <mat-option value="Casado">Casado</mat-option>
                        <mat-option value="Separado">Separado</mat-option>
                        <mat-option value="Divorciado">Divorciado</mat-option>
                        <mat-option value="Viuvo">Viuvo</mat-option>
                    </mat-select>
                </mat-form-field>

             
             <!-- RG -->
             <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('RG')}}</mat-label>
                <input matInput placeholder="RG" mask="00.000.000-A" required [(ngModel)]="formulario.rg">
                <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" required  [(ngModel)]="formulario.email">
                <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
            </mat-form-field>

            <!-- CEP -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('CEP')}}</mat-label>
                <input matInput placeholder="CEP" required mask="00.000-000" [(ngModel)]="formulario.cep">
                <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
            </mat-form-field>

            <!-- Celular -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('Celular')}}</mat-label>
                <input matInput placeholder="Name" mask="(00) 00000 0000 || (00) 0000 0000"  required [(ngModel)]="formulario.pontos">
                <mat-icon matPrefix svgIcon="heroicons_solid:phone"></mat-icon>
            </mat-form-field>



             <!-- Administrador -->
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput placeholder="{{ t('Administrador')}}" required [(ngModel)]="administrador.nome" viewchield> 
                        <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
                        <button mat-icon-button matSuffix [matMenuTriggerFor]="menu" class="h-full flex flex-col">
                            <mat-icon svgIcon="feather:more-vertical"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogAdministrador()">
                                <mat-icon svgIcon="feather:search"></mat-icon>
                                Pesquisar
                            </button>
                            <button mat-menu-item (click)="newAdministrador()">
                                <mat-icon svgIcon="feather:plus"></mat-icon>
                                Adicionar
                            </button>
                            <button mat-menu-item *ngIf="formulario.administrador" (click)="formulario.administrador = ''; this.administrador = ''">
                                <mat-icon svgIcon="feather:trash"></mat-icon>
                                Apagar
                            </button>
                        </mat-menu>
                    </mat-form-field>


            <!-- Funcionario -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('Funcionario')}}</mat-label>
                <input matInput placeholder="funcionarios" required [(ngModel)]="selectedFuncionarios" readonly view>
                    <mat-icon matPrefix svgIcon="heroicons_solid:user"></mat-icon>
                    <button mat-icon-button matSuffix [matMenuTriggerFor]="menu1" class="h-full flex flex-col">
                        <mat-icon svgIcon="feather:more-vertical"></mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu">
                        <button mat-menu-item (click)="openDialogFuncionario()">
                            <mat-icon svgIcon="feather:search"></mat-icon>
                            Pesquisar
                        </button>
                        <button mat-menu-item (click)="newFuncionario()">
                            <mat-icon svgIcon="feather:plus"></mat-icon>
                            Adicionar
                        </button>
                        <button mat-menu-item *ngIf="formulario.funcionarios" (click)="formulario.funcionarios = ''">
                            <mat-icon svgIcon="feather:trash"></mat-icon>
                            Apagar
                        </button>
                    </mat-menu>
            </mat-form-field>

        </div>
            <!-- <div mat-button class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button *ngIf="edit" (click)="delete()" mat-flat-button class="px-6 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-warn mat-mdc-button-base">{{ t('Excluir')}}</button>
                <button mat-flat-button (click)="submit()" class="px-6 ml-3 mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base">{{ t('Salvar')}}</button>
            </div> -->
        </fuse-card>

        <div class="flex justify-end items-center px-6 py-4 space-x-2">
            <button mat-fab class="px-6 ml-3" routerLink="/">
                <mat-icon svgIcon="mat_solid:keyboard_backspace"></mat-icon>
            </button>
            <button *ngIf="edit" (click)="delete()" mat-fab class="px-6 ml-3">
                <mat-icon svgIcon="mat_solid:delete"></mat-icon>
            </button>
            <button (click)="submit()" mat-fab class="px-6 ml-3">
                <mat-icon svgIcon="mat_solid:save"></mat-icon>
            </button>
        </div>

    </div>
</div>
</ng-container>